/*Geral*/
:root {
    --color-Geral: #0000ff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*Barra de navegacao*/
header {
    background-color: var(--color-Geral);
    padding: 10px 0;
    color: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar-div{
    position: absolute;
    right: 20%;
    border: 1px solid #FFF;
    padding: 5px;
    border-radius: 10px;
}

#navbar-div> a{
    color: #fff;
}

/*Drop Box*/
.dropdown {
    position: relative;
    display: inline-block;
    padding: 20px
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5%;
    width: 350px;
    height: 230px;  
    right: 20%;
    padding-top: 5px;
}
  
.dropLabel {
    background: n;
    color: #000;
    display: block;
    margin: 0 5px;
    padding: 10px 10px;
}

#dropSubmit {
    margin: 5%;
    width: 90%;
    background-color: #007BFF;
    border: 5px solid #007BFF;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

#dropSubmit:hover{
    border: 1px solid #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-input {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    margin: 0 5px;
    padding: 10px 10px;
}

/*Corpo*/
#apresentacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
}

#apresentacao> div {
    height: 350px;
}

#img-scola {
    width: 99%;
    height: 99%;
    padding: 5px;
    border-radius: 5%;
}

#divicao {
    background-color: var(--color-Geral);
    color: #fff;
    text-align: center;
    padding: 5px;
}

/*Formulario*/
#titelReg {
    text-align: center;
}

#formRegistro {
    margin-bottom: 20px;
}

#RegDiv{
    width: 500px;
    height: 280px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.inputReg{
    width: 90%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.labelReg {
    font-size: 1.2rem;
}

#RegSub {
    background-color: #007BFF;
    color: #FFF;
    margin: 10px;
}

/*Roda pé*/
footer {
    bottom: 0;
    width: 100%;
    background-color: var(--color-Geral);
    color: #000; 
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
    text-align: center;
}

#RegSub {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

div.container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 10px;
}

/*Resposividade*/
@media (max-width: 400px){
    /*nav Bar*/
    header> nav> h1 {
        font-size: 16px;
        margin: 0;
    }

    .nav-link{
        margin-right: 5%;
    }
}